subDoc
.dbtest.py
.modified_data.csv
.convert.py
.env
doc
model
upload
key.pem
key.py
LSTM.py
projection.pem
google-ads.yaml

__pycache__
app/__pycache__
app/api/__pycache__
app/api/auth/__pycache__
app/api/keys/__pycache__
app/api/orders/__pycache__
app/api/sales/__pycache__
app/api/upload/__pycache__
app/cron/__pycache__
app/db/__pycache__
app/main/__pycache__
app/prediction/__pycache__
